$dark-blue: #182842; //#2f6cce;
$dark-blue-fade1: #2e3b4d;
$dark-blue-fade2: #383c43;
$space-blue: #040812;

$purple: #8b4ae0;

$dark-gray: #0b0b0b;
$real-dark-gray: #0f0f0f;
$low-gray: #262626;

$off-white: #fcfff6;