/* Font sizes */
$s-font: 1rem;
$m-font: 1.4rem;
$l-font: 2rem;
$xl-font: 2.5rem;


/* Font families */
$sans-serif: "Questrial", Helvetica, sans-serif;
$serif: "Muli", Bookman, serif;
$monospace: "Lucida Console", Monaco, monospace;

$mrDafoe: "Mr Dafoe";
$montserrat: "Montserrat";