html {
    background-color: $white;
    color: $black;
    font-family: $serif;
    overflow-x: hidden;
}

header {}

body {}

h1 {
    font-family: $montserrat;
}

h2 {
    font-family: $montserrat;
}

h3 {
    font-family: $montserrat;
}

h4 {
    font-family: $montserrat;
}

h5 {
    font-family: $montserrat;
}

h6 {
    font-family: $montserrat;
}

p {}

a {}

button {}

input {}
