$down_arrow: $icons + 'down_arrow.png';
$down_arrow_white: $icons + 'down_arrow_white.png';
$github: $icons + 'github.svg';
$github-purple: $icons + 'github-purple.png';
$linkedin: $icons + 'linkedin.png'; 
$linkedin-purple: $icons + 'linkedin-purple.png';