$down_arrow: $icon + 'down_arrow.png';
$down_arrow_white: $icon + 'down_arrow_white.png';
$github: $icon + 'github.svg';
$github-purple: $icon + 'github-purple.png';
$linkedin: $icon + 'linkedin.png'; 
$linkedin-purple: $icon + 'linkedin-purple.png';