#header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 10;

    h1 {
        position: fixed;
        top: 6px;
        margin-top: 0px;
        left: 2.5em;
        font-size: $xl-font;
    }
}


.header__logo {
    margin-left: 8px;
    width: 3rem;
    height: 3rem;
    margin-top: 4px;

    img {
        width: 100%;
        max-width: 100%;
        height: auto;
    }

    @media #{$bp-tablet} {
        margin-left: 10px;
    }

    @media #{$bp-large} {
        margin-left: 2em;
        margin-top: 1.1em;
    }
}


.header__nav-button {
    position: absolute;
    right: 4px;
    top: 0px;
    color: white;
    font-weight: bold;
    border: none;
    background-color: transparent;
    font-size: 2.5em;
    
    &:active, &:focus {
        outline: none;
        background-color: transparent;
    }

    @media #{$bp-desktop} {
        display: none;
    }

}