#logo-bar {
    position: fixed;
    top: 14px;
    right: 4rem;
    z-index: 100;
    display: block;

    img {
        width: 2em;
        max-width: 2em;
        height: auto;
        border-radius: 50%;
        vertical-align: top;
    }
    
    ul {
        display: flex;
        flex-direction: row;
        margin: 0;
        
        li {
            display: inline-block;
            margin-right: 1rem;
            
            &:last-child {
                margin-right: 0;
            }
        }
    }
    
    @media #{$bp-tablet} {
        display: none;
    }
}