.nextpage {
    width: auto;
    float: right;
    margin: 0;
    padding: 0 4px;
    background-color: white;
    border-radius: 2px;

    a {
        text-decoration: none;
    }

    &.float {
        position: fixed;
        bottom: 12px;
        right: 12px;    
    }
}


.nextpage__text {
    font-weight: bold;
    width: 100%;
    margin: 0;
    text-align: center;
    color: darken($purple, 30%);
    font-size: 1.6rem;
}