.prevpage {
    width: 150px;
    float: left;
    margin: 0;

    &.float {
        position: fixed;
        bottom: 4px;
        left: 12px;    
    }
}


.prevpage__text {
    width: 100%;
    float: left;
    margin: 0;
    text-align: left;
    color: $off-white;
    font-size: 1.3rem;
}