.prevpage {
    width: auto;
    float: left;
    background-color: white;
    border-radius: 2px;
    margin: 0;
    padding: 0 4px;

    a {
        text-decoration: none;
    }

    &.float {
        position: fixed;
        bottom: 12px;
        left: 12px;    
    }
}


.prevpage__text {
    width: 100%;
    margin: 0;
    text-align: center;
    color: darken($purple, 30%);
    font-size: 1.6rem;
}