.prevPage {
    width: auto;
    float: left;
    background-color: darken($purple, 30%);
    margin: 0;
    padding: 0 8px;
    border: 1px solid white;

    a {
        text-decoration: none;
    }

    &.float {
        position: fixed;
        bottom: 12px;
        left: 12px;    
    }
}


.prevPage__text {
    width: 100%;
    margin: 0;
    text-align: center;
    color: white;
    font-size: 1.6rem;
}