
/**
    Standard Elements
**/

html {
    background-color: darken($dark-blue, 8%);
}

header {}

body {
    margin-top:3em;
    color: darken($off-white, 2%);
    font-family: $monospace;
}

.main-content {
    margin-top: 3em;

    @media #{$bp-tablet} {

    }
    @media #{$bp-desktop} {

    }
}

h1 {}

h2 {}

h3 {}

h4 {}

h5 {}

h6 {}

p {}

a {}


#main-bg {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: url('/assets/images/Carina_Nebula.jpg');
    background-size: cover;
    opacity: 0.1;
    z-index: -10;
}