
/**
    Standard Elements
**/

html {
    background-color: darken($dark-blue, 12%);
}

header {}

body {
    margin-top:3em;
    color: darken($off-white, 2%);
    font-family: $sans-serif;
    font-size: $s-font;
}

h1 {}

h2 {}

h3 {}

h4 {}

h5 {}

h6 {}

p {}

a {
    color: darken($off-white, 10%);

}

section {
    display: block;
    height: auto;
    padding: 1em;
    background-color: darken($dark-blue, 10%);
    border-bottom: 3px solid darken($dark-blue, 12%);

    &.inner {
        width: 80%;
        margin: auto;
        background-color: darken($dark-blue, 12%)
    }
    &.dark-1 {
        background-color: darken($dark-blue, 14%);
        border-bottom: 3px solid darken($dark-blue, 16%);
    }
    &.dark-2 {
        background-color: darken($dark-blue, 16%);
        border-bottom: 3px solid darken($dark-blue, 18%);
    }
    &.space {
        background-color: $space-blue;
    }
}