/**
    Elements used on many pages
**/

#main-bg {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: $dark-blue;//$dark-gray;
    background-size: cover;
    opacity: 0.2;
    z-index: -10;
    &.space {
        background: url('/assets/images/Carina_Nebula.jpg') no-repeat;
    }
}

#header-bg {
    position: absolute;
    z-index: 0;
    left: 0;
    right: 0;
    top: 0;
    height: 3.5em;
    background-color: $space-blue;
}

#main-content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 5.5em;

    @media #{$bp-tablet} {

    }
    @media #{$bp-desktop} {

    }
}

.padding {
    display: block;
    height: $l-font;
}