/**
    Elements used on many pages
**/

#main-bg {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: url('/assets/images/Carina_Nebula.jpg') no-repeat;
    background-size: cover;
    opacity: 0.1;
    z-index: -10;
}
