/**
    Elements used on many pages
**/

#main-bg {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background: $dark-blue;//$dark-gray;
    opacity: 0.6;
    z-index: -10;
    &.space {
        background: url('/assets/images/backgrounds/planets-mobile.jpg') no-repeat;
        background-size: cover;
        @media #{$bp-tablet} {
            //background: url('/assets/images/backgrounds/milky-way-1080.jpg') no-repeat;
        }
        @media #{$bp-large} {
            background: url('/assets/images/backgrounds/milky-way-1080.jpg') no-repeat;
            background-attachment: fixed;
            background-position: center;
            opacity: 0.6;
        }
        @media #{$bp-huge} {
            background: url('/assets/images/backgrounds/milky-way-1200.jpg') no-repeat;
            background-size: cover;
        }
    }
}

#header-bg {
    position: absolute;
    z-index: 0;
    left: 0;
    right: 0;
    top: 0;
    height: 3.5em;
    background-color: #000001;
}

#main-content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 5.5em;

    @media #{$bp-tablet} {

    }
    @media #{$bp-desktop} {

    }
}

.padding {
    display: block;
    height: $l-font;
}

#home {
    #header-bg {
        background: transparent;
    }
}