/**********************************
*** Wrapper for all page components
**********************************/

#main-content {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    top: 5.5em;

    &.hidden {
        display: none;
    }

    @media #{$bp-tablet} {

    }
    @media #{$bp-desktop} {

    }
}