// Font sizes
$s-font: 1em;
$m-font: 1.4em;
$l-font: 2em;
$xl-font: 2.5em;


// Fonts
$sans-serif: Helvetica, sans-serif;
$serif: Bookman, serif;
$monospace: "Lucida Console", Monaco, monospace;

// Media queries
$bp-tablet:"only screen and (min-width: 768px)";
$bp-desktop:"only screen and (min-width: 1200px)";


// Color palette
$dark-blue: #182842; //#2f6cce;
$dark-blue-fade1: #2e3b4d;
$dark-blue-fade2: #383c43;
$space-blue: #010314;

$dark-gray: #0b0b0b;
$real-dark-gray: #0f0f0f;
$low-gray: #262626;

$off-white: #fcffe8;