.home-cover {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 100%;
    z-index: 5;

    &.space {
        z-index: 4;
        margin-right: 0;
    }
}

#loader {
    display: none;
}