.home-cover {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 66vh;
    z-index: 5;
    background: transparent;

    &.space {
        z-index: 4;
        margin-right: 0;
        background: $space-blue;
        opacity: 0.4;
    }
    &.active {
        height: 33vh;
    }
}

#loader {
    display: none;
}