#Ignore node modules
node_modules/

#Ignore build caches
.sass-cache/
*.map
*.cache

#Ignore keys for SSL cert
src/key/*

#Ignore logs
*.log

#Ignore production env
config/prod.env

#Ignore webpack-built files
public/dist/bundle.js
public/dist/bundle.css

#Ignore old build files
src/sass_old
src/tests_old
src/react/old stuff
