#Ignore node modules
node_modules/

#Ignore build caches
.sass-cache/
*.map
*.cache

#Ignore logs
*.log

#Ignore webpack-built files
public/dist/bundle.js
public/dist/bundle.css
.vscode/settings.json
