#home {

}


.home__backdrop {
    opacity: 0.3;
    z-index: -1;
    background: url($background + 'space_background.jpg');
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


.home__attributes {
    width: 100%;

    @media #{$bp-tablet} {
        margin: 0 auto;
        margin-top: 40px;
        height: 400px;
        width: 700px;
    }
}

