#splash {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: hidden;
    transition: 300ms;

    &.splash__hidden {
        left: 100vw;
        right: -100vw;
        opacity: 0;
    }
}


.splash__background {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 3500ms;
}


.splash__background.one {
    background: url('/dist/images/backgrounds/planets-mobile-bandw.jpg') no-repeat;
    background-size: cover;
    position: absolute;
    opacity: 1;
    z-index: 2;
}


.splash__background.two {
    background: url('/dist/images/backgrounds/planets-mobile.jpg') no-repeat;
    background-size: cover;
    position: absolute;
    opacity: 0;
    z-index: 3;
}


.splash__content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(10, 10, 10, 0.7);
    z-index: 4;
}


.splash__text {
    position: absolute;
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: #{$s-font + 0.1rem};

    @media #{$bp-tablet} {
        font-size: 2rem;
    }
}


.splash__text.one {
    top: 5%;
    left: 0;
    right: 0;
    
    @media #{$bp-tablet} {

    }
}


.splash__text.two {
    left: 0;
    right: 0;
    bottom: 20%;

    @media #{$bp-tablet} {
        bottom: 15%;
    }
}


.splash__words {
    opacity: 0;
    transition: 700ms;
}


.splash__name {
    font-size: $m-font;
    position: absolute;
    right: 5rem;
    bottom: 4rem;
    opacity: 0;
    transition: 1s;
}


.splash__to-site {
    border-radius: 0;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    opacity: 0;
    transition: 1s;
}