#home {

}


.home__background {
    position: absolute;
    left: 0;
    top: -5.5em;
    right: 0;
    bottom: 0;
    height: 100vh;
    background: $space-blue;
    z-index: -10;
    transition: 1000ms;

    &.phone {
        background: url('/dist/images/backgrounds/planets-mobile.jpg') no-repeat;
        background-size: cover;

        @media #{$bp-tablet} {
            display: none;
        }
    }

    &.tablet {
        display: none;

        @media #{$bp-tablet} {
            background: url('/dist/images/backgrounds/planets-mobile.jpg') no-repeat;
            background-size: cover;
            display: block;
        }

        @media #{$bp-large} {
            display: none;
        }
    }

    &.desktop {
        display: none;

        @media #{$bp-large} {
            background: url('/dist/images/backgrounds/milky-way-1080.jpg') no-repeat;
            background-position: center top;
            background-size: cover;
            display: block;
        }

        @media #{$bp-huge} {
            display: none;
        }
    }

    &.huge {
        display: none;

        @media #{$bp-huge} {
            background: url('/dist/images/backgrounds/milky-way-1200.jpg') no-repeat;
            background-size: cover;
            display: block;
        }
    }

    &.one {
        opacity: 0;
    }

    &.two {
        opacity: 0.3;
    }
}


.home__text {
    font-family: $serif;
    font-size: $s-font;
    position: absolute;
    color: white;
    
    @media #{$bp-tablet} {
        font-size: $m-font;
    }
    
    @media #{$bp-desktop} {
        font-size: 1.2rem;
    }

    @media #{$bp-huge} {
        font-size: $l-font;
    }

    &.one {
        text-align: justify;
        padding-left: 7%;
        padding-right: 7%;
        bottom: 0;
        
        @media #{$bp-desktop} {
            top: 15%;
            bottom: unset;
            left: 7%;
            right: 60%;
            padding-left: 0;
            padding-right: 0;
        }
    }
}