#home {
    #header-bg {
        background: transparent;
    }

    .space {
        position: absolute;
        left: 0;
        top: -5.5em;
        right: 0;
        bottom: 0;
        height: 100vh;
        background: $space-blue;
//        opacity: 1;
        z-index: -10;
        transition: 1000ms;

        &.one {
            opacity: 0;
        }

        &.two {
            opacity: 0.8;
        }
        
        &#main-bg {
//            opacity: 0.3;
            background: url('/assets/images/backgrounds/planets-mobile.jpg') no-repeat;
            background-size: cover;
            
            @media #{$bp-tablet} {
                //background: url('/assets/images/backgrounds/milky-way-1080.jpg') no-repeat;
            }
            
            @media #{$bp-large} {
                background: url('/assets/images/backgrounds/milky-way-1080.jpg') no-repeat;
                background-position: center top;
 //               opacity: 0.8;
                background-size: cover;
            }
            
            @media #{$bp-huge} {
                background: url('/assets/images/backgrounds/milky-way-1200.jpg') no-repeat;
                background-size: cover;
            }
        }
    }

    .home-text {
        font-family: $serif;
        font-size: $s-font;
        position: absolute;
        color: white;
        
        @media #{$bp-tablet} {
            font-size: $m-font;
        }
        
        @media #{$bp-desktop} {
            font-size: $s-font;
        }

        &.one {
            text-align: justify;
            padding-left: 7%;
            padding-right: 7%;
            bottom: 0;
            
            @media #{$bp-desktop} {
                top: 15%;
                bottom: unset;
                left: 7%;
                right: 60%;
                padding-left: 0;
                padding-right: 0;
            }
        }
    }

    #home-toggle {
        position: absolute;
        left: 0;
        right: 0;
        height: 10vh;
        bottom: 0;
        height: auto;
        transform: rotate(180deg);
        margin: 0 auto;
        bottom: 2rem;
        z-index: 5;
        height: auto;
        padding: 0 auto;

        &.active {
            top: 0;
            bottom: unset;
            left: unset;
            width: auto;
            right: 5px;

            @media #{$bp-tablet} {
                right: 6px;
            }

            button {
                margin: 0;
                position: fixed;
                left: 0;
                top: 0;
            }
        }

        button {
            margin: 0 auto;
            border: none;
            background: transparent;
            display: block;
            font-size: 2.5rem;
        }
    }

    @media #{$bp-large} {
        .home-text {
            h2 {
                font-size: $l-font;
            }
        }
    }
}

#home-cover {
    background: $space-blue;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    height: 100vh;
    transition: 150ms;
    z-index: 5;
    &.active {
        top: 0;
    }
}