<!DOCTYPE html>
<html>
<head>
  <title>404</title>
  <link rel="stylesheet" href="/weather/css/styles.css" />
  <script src="/weather/js/app.js" defer></script>
</head>
<body>
  <div class="main-content">
    {{>weatherHeader}}
    <p>
      404<br />
      {{message}}
    </p>
  </div>
  
  {{>weatherFooter}}
</body>
</html>
