.article {

}


.article__title {
    font-weight: 100;
    font-size: $l-font;
}


.article__subtitle {
    font-weight: 100;
    font-size: $m-font;
}


.article__text {
    font-family: $sans-serif;
}


.article__subtext {
    opacity: 0.8;
}