.attribute {

}


.attribute__image {
    width: 80px;
    height: auto;
    margin: 0 auto;

    img {
        max-width: 100%;
        height: auto;
    }
}


.attribute__title {
    text-align: center;
}


.attribute__text {

}