.job {
    background: rgba(255,255,255,0.5);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.job__title {

}

.job__text {

}

.job__image {
    height: 40px;
    width: auto;
    
    img {
        height: 100%;
        width: auto;
        max-height: 100%;
        vertical-align: middle;
    }
}