#About {}


.about__content {
    display: inline-block;
    font-family: $montserrat;
    text-align: center;
    width: 100%;
    padding-bottom: 20px;

    &.one {
        background-color: lighten($black, 15%);
    }
}


.about__bioTitle {
    font-size: 1.4em;
    font-weight: bold;
}


.about__portrait {
    margin: 0 auto;
    img {
        width: 300px;
        height: auto;
        border-radius: 50%;

        @media #{$bp-tablet} {
            width: 400px;
        }

        @media #{$bp-desktop} {
            width: 500px;
        }
    }
}


.about__text {
    width: 100%;
    font-size: 1.1em;
    
    p {
        width: 280px;
        margin: 0 auto;
    }
}


.about__text.one {
    position: absolute;

    p {
        position: relative;
        bottom: 60px;

        span.one {
            padding: 1px;
            background-color: $black;
        }

        span.two {
            padding: 1px;
            font-size: 1.2em;
            background-color: $red;
        }
    }

    @media #{$bp-ultrawide} {
        p {
            padding-top: 10px;
        }
    }
}


.about__divider.one {
    height: 0;

    .divider__shape {
        &.one {
            border-top: 30px solid lighten($black, 15%);
        }

        &.two {
            display: none;
        }
    }

    @media #{$bp-tablet} {
        .divider__shape {
            &.one {
                border-top: 45px solid lighten($black, 15%);
            }
        }
    }

    @media #{$bp-desktop} {
        .divider__shape {
            &.one {
                border-top: 60px solid lighten($black, 15%);
            }
        }
    }

    @media #{$bp-ultrawide} {
        .divider__shape {
            &.one {
                border-top: 90px solid lighten($black, 15%);
            }
        }
    }
}


.about__content.two {
    background: lighten($black, 10%);
    padding-bottom: 0;
}


.about__text.two {
    padding-top: 5vh;

    @media #{$bp-ultrawide} {
        p {
            margin-top: 10px;
        }
    }
}


.about__divider.two {
    .divider__shape {
        &.one {
            border-top: 30px solid lighten($black, 10%);
        }

        &.two {
            display: none;
        }
    }

    @media #{$bp-tablet} {
        .divider__shape {
            &.one {
                border-top: 45px solid lighten($black, 10%);
            }
        }
    }

    @media #{$bp-desktop} {
        .divider__shape {
            &.one {
                border-top: 60px solid lighten($black, 10%);
            }
        }
    }

    @media #{$bp-ultrawide} {
        .divider__shape {
            &.one {
                border-top: 90px solid lighten($black, 10%);
            }
        }
    }
}