#Experience {
    overflow: hidden;
    border-bottom: 30px;
}


.experience__header {
    font-size: 1.3em;
    width: 320px;
    margin: 0 auto;

    @media #{$bp-desktop} {
        width: 100%;
        max-width: 1200px;
        text-align: center;
    } 
}


.experience__content {
    @media #{$bp-desktop} {
        display: flex;
        margin: 0 auto;
        width: 100%;
        max-width: 1200px;
    }
}