#Footer {}


.footer__divider {
    .divider__shape {
        border-right: unset;
        border-left: 100vw solid transparent;
        top: unset;
        bottom: 0;

        &.one {
            border-bottom: 6vh solid lighten($black, 15%);
        }

        &.two {
            border-bottom: 12vh solid lighten($black, 10%);
        }
    }
}


.footer__content {
    margin: 0;
    background: lighten($black, 15%);
    position: relative;
    height: 25px;
}


.footer__copyright {
    margin: 0;
    position: absolute;
    bottom: 8px;
    right: 8px;
}

