#Landing {
    height: 100vh;
    scroll-snap-align: start;
    margin-bottom: 0;
}


.landing__background {
    z-index: -3;
    opacity: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


/* Left purple backdrop */
.landing__background > .one {
    position: absolute;
    z-index: -5;
    opacity: 1;
    left: 0;
    top: 0;
    height: 100vh;
    right: 50%;
    background: $purple;

    > .texture {
        position: relative;

        > div {
            z-index: -3;
            position: absolute;
            left: 0;
            top: 0;
            width: 100vw;
            height: 100vh;
            background:
                linear-gradient(
                    27deg, lighten($purple, 2%) 5px, 
                    transparent 5px
                ) 0 5px,
                linear-gradient(
                    207deg, lighten($purple, 2%) 5px, 
                    transparent 5px
                ) 10px 0px,
                linear-gradient(
                    27deg, darken($purple, 7%) 5px, 
                    transparent 5px
                ) 0px 10px,
                linear-gradient(
                    207deg, darken($purple, 7%) 5px, 
                    transparent 5px
                ) 10px 5px,
                linear-gradient(
                    90deg, $purple 10px, 
                    transparent 10px
                ),
                linear-gradient(
                    lighten($purple, 5%) 25%, $purple 25%, 
                    $purple 50%, transparent 50%, 
                    transparent 75%, darken($purple, 7%) 
                    75%, darken($purple, 7%)
                );
            background-color: $purple;
            background-size: 20px 20px;
            opacity: 0.2;
        }   
    }
}


/* Right red backdrop */
.landing__background > .two {
    position: absolute;
    z-index: -4;
    opacity: 1;
    right: 0;
    top: 0;
    height: 100vh;
    left: 50%;
    background: $red;

    > .texture {
        position: relative;

        > div {
            z-index: -3;
            position: absolute;
            right: 0;
            top: 0;
            width: 100%;
            height: 100vh;
            background:
                linear-gradient(27deg, lighten($red, 2%) 5px, transparent 5px) 0 5px,
                linear-gradient(207deg, lighten($red, 2%) 5px, transparent 5px) 10px 0px,
                linear-gradient(27deg, darken($red, 7%) 5px, transparent 5px) 0px 10px,
                linear-gradient(207deg, darken($red, 7%) 5px, transparent 5px) 10px 5px,
                linear-gradient(90deg, $red 10px, transparent 10px),
                linear-gradient(
                    lighten($red, 5%) 25%, $red 25%, 
                    $red 50%, transparent 50%, 
                    transparent 75%, darken($red, 7%) 
                    75%, darken($red, 7%)
                );
            background-color: $red;
            background-size: 20px 20px;
            opacity: 0.4;
        }   
    }
}


/* Animated particle background */
.landing__background > .four {
    z-index: -2;
    opacity: 0;

    .landing__particles {
        position: absolute;
        top: 0;
    
        canvas {
            z-index: -2;
            opacity: 0.5;
            position: absolute;
        }  
    }
}


/* Gray gradient overlay */
.landing__background > .five {
    z-index: -1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
        to bottom, 
        transparent, 
        lighten($black, 15%) 99%
    );
}


.landing__tagline {
    margin: 0 auto;
    margin: 0 auto;
    width: 100%;
    height: 200px;

    h2 {
        font-weight: 400;
        font-size: 2em;
        padding: 0;
        margin: 0;
        position: absolute;
        top: 2em;

        &.left {    // Robby
            right: 51%;
            color: $red;
        }
        
        &.right {   // Bergers
            left: calc(51% - 4px);
            color: $purple;
        }
    }

    p {
        font-family: $montserrat;
        font-size: 1.6em;
        font-weight: 600;
        position: absolute;
        top: 5em;

        &.left {   // Designer
            right: 50%;
            -moz-transform: scale(-1, 1);
            -webkit-transform: scale(-1, 1);
            -o-transform: scale(-1, 1);
            -ms-transform: scale(-1, 1);
            transform: scale(-1, 1);
            color: $red;
        }

        &.right {    // Developer
            left: 50%;
            color: lighten($purple, 5%);
        }
    }

    @media #{$bp-tablet} {
        p {
            position: absolute;
            top: 5em;

            &.left {   // Designer
                right: 50%;
                -moz-transform: scale(-1, 1);
                -webkit-transform: scale(-1, 1);
                -o-transform: scale(-1, 1);
                -ms-transform: scale(-1, 1);
                transform: scale(-1, 1);
            }

            &.right {    // Developer
                left: 50%;
            }
        }
    }
}


.landing__menu {
    height: auto;
    width: 230px;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    font-family: $montserrat;

    a, button {
        background-color: transparent;
        text-decoration: none;
        width: 160px;
        text-align: center;
        margin: 0 auto;
        padding: 8px;
    }

    @media #{$bp-tablet} {
        width: 30%;
        position: relative;
        height: 200px;
    }
}


.landing__view {
    margin: 32px auto !important;
    border: 1px solid $white;
    color: $white;
    transition: 150ms;
    font-weight: 600;

    &:hover {
        background-color: $red;
        color: $white;
        border: 1px solid $white;
        cursor: pointer;
    }
}


.landing__resume {
    margin-bottom: 32px !important;
    border: 1px solid $white;
    color: $white;
    transition: 150ms;
    font-weight: 600;

    &:hover {
        background-color: $red;
        cursor: pointer;
    }
}


.landing__email {
    border: 1px solid $white;
    color: $white;
    transition: 150ms;

    &:hover {
        background-color: $red;
        cursor: pointer;
    }
}


/* Get in touch modal */
.landing__emailModal {
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: 100ms ease-out;
    background-color: darken($red, 10%) ;
    position: absolute;
    bottom: 0;
    
    &.active {
        height: 3em;
    }

    p {
        text-align: center;
    }
}


/* Links */
.landing__contact {
    width: 200px;
    display: block;
    margin: 2em auto;
    z-index: 3;
    display: flex;
    justify-content: space-between;

    > a {
        display: flex;
        height: 35px;
        width: 35px;
        
        > div {
            width: 35px;
            height: 35px;
            display: inline-block;
            background-size: 100%;
            transition: 150ms;    
        }
    }
}


.landing__github {
    > div {
        background-image: url($icons + 'github/github-red.png');
        opacity: 1;

        &:hover {
            transition: 150ms;
            opacity: 1;
        }
    }

    @media #{$bp-tablet} {
        > div {
            opacity: 0.8;
        }
    }
}


.landing__linkedin {
    > div {
        background-image: url($icons + 'linkedin/linkedin-red.png');
        opacity: 1;

        &:hover {
            transition: 150ms;
            opacity: 1;
        }
    }

    @media #{$bp-tablet} {
        > div {
            opacity: 0.8;
        }
    }
}


.landing__upwork {
    > div {
        background-image: url($icons + 'upwork/upwork-purple.png');
        opacity: 1;

        &:hover {
            transition: 150ms;
            opacity: 1;
        }
    }

    @media #{$bp-tablet} {
        > div {
            opacity: 0.8;
        }
    }
}


.landing__twitter {
    > div {
        background-image: url($icons + 'twitter/twitter-purple.png');
        opacity: 1;

        &:hover {
            transition: 150ms;
            opacity: 1;
        }
    }

    @media #{$bp-tablet} {
        > div {
            opacity: 0.8;
        }
    }
}