#About {
    background-color: lighten($black, 15%);
}

.about__content {
    display: inline-block;
    font-family: $montserrat;
    text-align: center;
    width: 100%;
}

.about__bio {
    padding: 1em 2em;
    text-align: center;
    line-height: 1.5em;
    margin: 0 auto;
    width: 300px;

    @media #{$bp-tablet} {
        width: 400px;
    }

    @media #{$bp-desktop} {
        width: 750px;
        font-size: 1.5em;
        padding: 0;
    }
}

.about__bioTitle {
    font-size: 1.4em;
    font-weight: bold;
}

.about__portrait {
    img {
        width: 300px;
        height: auto;
        border-radius: 50%;

        @media #{$bp-tablet} {
            width: 400px;
        }

        @media #{$bp-desktop} {
            width: 750px;
        }
    }
}