#About {
    height: 100vh;
    background-color: lighten($black, 15%);
}

.about__shape {
    position: absolute;
    top: 100vh;
    width: 0;
    height: 0;
    border-right: 100vw solid transparent;

    &.one {
        z-index: 6;
        border-top: 4vh solid $black;

        @media #{$bp-tablet} {
            border-top: 6vh solid $black;
        }
    }

    &.two {
        z-index: 5;
        border-top: 8vh solid lighten($black, 10%);
        
        @media #{$bp-tablet} {
            border-top: 12vh solid lighten($black, 10%);
        }
    }
}

.about__content {
    color: white;
    display: inline-block;
    font-family: $montserrat;
    text-align: center;
    margin-top: 8vh;

    @media #{$bp-tablet} {
        margin-top: 12vh;
    }
}

.about__bio {
    padding: 1em 2em;
    text-align: center;
    line-height: 1.5em;
}

.about__bioTitle {
    font-size: 1.4em;
    font-weight: bold;
}

.about__portrait {
    width: 280px;
    height: auto;
}