.card {
    display: inline-block;
    background: $dark-blue;
    height: 8rem;
    padding-right: 2rem;
    transition: 100ms;
    border-bottom: 5px solid darken($dark-blue, 10%);
    border-radius: 6px;

    &:hover {
        background: darken($dark-blue, 10%);
        
        .card__text, img {
            opacity: 0.8;
        }
    }

    img {
        max-height: 6rem;
        height: 6rem;
        width: 6rem;
        max-width: 6rem;
        position: absolute;
        top: 1rem;
        left: 1rem;
    } 
}

.card__text {
    margin-left: 9rem;
    margin-top: 1rem;
    color: white;
}

.card__link {
    height: 100%;
}

.card__wrap {
    margin: 0 auto;
}