#desktop-navigation-menu {
    ul {
        display: none;
    }
    @media #{$bp-large} {
        flex-grow: 1;
        position: fixed;
        z-index: 10;
        right: 4.5rem;
        top: 1.2rem;
        background: transparent;
        font-size: $s-font;
        height: 3rem;
        ul {
            display: flex;
            flex-direction: row;
            li {
                list-style-type: none;
                margin-left: $m-font;
                &:hover {
                    background-color: rgba(0,0,0,0.7);
                    text-decoration: none;
                }
                a {
                    color: white;
                    margin-right: 1.2rem;
                    transition: 200ms;
                    &:last-child {
                        margin-right: 0;
                    }

                    &:hover {
                        text-decoration: none;
                        border-bottom: 2px solid $purple;
                    }
                }
                .active {
                    text-decoration: underline;
                }
            }
        }
    }
}