.experienceSection {
    margin: 30px auto;
    width: 320px;
    cursor: pointer;

    @media #{$bp-tablet} {
        width: 350px;
    }
}


.experienceSection__header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: $purple;
}


.experienceSection__info {

}


.experienceSection__logo {
    width: 50px;
    max-width: 50px;
    height: auto;
    margin: auto 0;
}


.experienceSection__company {
    display: block;
    margin-bottom: 4px;
}


.experienceSection__jobTitle {
    display: block;
    margin-top: 4px;
    margin-bottom: 4px;
}


.experienceSection__dates {
    margin-top: 2px;
    opacity: 0.7;
}


.experienceSection__description {
    overflow: hidden;
    background-color: darken($purple, 5%);
    transition: 150ms ease-out;

    &[data-active=false] {
        max-height: 0;
    }

    &[data-active=true] {
        height: auto;
        max-height: 120px;
        padding: 0 8px;
    }

    @media #{$bp-tablet} {
        p {
            margin: 8px 1em;
            text-align: justify;
        }
    }
}


.experienceSection__footer {
    display: block;
    margin: 0;
    width: 100%;
    background-color: darken($purple, 5%);
    position: relative;

    p {
        margin: 0 auto;
        font-size: 1.2em;
        text-align: center;
        transition: 150ms ease-out;
        opacity: 0.5;

        &[data-active=false] {
            transform: rotate(180deg);
        }

        &[data-active=true] {
            transform: rotate(0deg);
        }
    }

    &[data-active=true] {
        background-color: $purple;
    }

    &[data-active=false] {
        background-color: darken($purple, 5%);
    }

    &:hover {
        cursor: pointer;
    }
}