.fixedModal {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    overflow: visible;
    z-index: 8;
}


.fixedModal__modal {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    transition: 150ms ease-out;
    background-color: $red;
    color: $white;
    overflow: hidden;

    &[data-active=false] {
        max-height: 0px;
    }

    &[data-active=true] {
        height: auto;
        max-height: 150px;
    }

    p {
        width: 250px;
        text-align: center;
        margin: 18px auto;
    }

    @media #{$bp-tablet} {
        p {
            width: 80%;
        }
    }
}


.fixedModal__close {
    text-align: center;
    width: 100%;
    font-size: 1.6em;
    background: darken($red, 20%);
    border: none;
    color: $white;
    padding: 0;

    &[data-active=false] {
        display: none;
    }

    &[data-active=true] {
        display: block;

        &:hover {
            cursor: pointer;
        }

        @media #{$bp-desktop} {
            position: absolute;
            top: 0;
            right: 0;
            width: auto;
            height: 100%;
            font-size: 2em;
            padding: 0 14px 0 14px;
        }
    }
}