/**
    Header React component styles
**/

#head {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;

    #head-logo {
        margin-left: 4px;
        width: 3em;
        height: 3em;
        margin-top: 4px;
        img {
            width: 100%;
            max-width: 100%;
            height: auto;
        }
    }

    #nav-button {
        position: absolute;
        right: 4px;
        top: 4px;
        color: white;
        font-weight: bold;
        border: none;
        background-color: transparent;
        font-size: 2.5em;
        
        &:active, &:focus {
            outline: none;
        }
    }

    h1 {
        position: fixed;
        top: 6px;
        margin-top: 0px;
        left: 2.5em;
    }

    @media #{$bp-tablet} {}
    @media #{$bp-desktop} {}
}