#Landing {
    height: 100vh;
    overflow-x: auto;
}

.landing__tagline {
    margin: 0 auto;
    padding-top: 5em;
    width: 300px;
    margin: 0 auto;

    h2 {
        margin-bottom: 2em;
        font-weight: 400;
        margin: 0 auto;
        text-align: center;    
        font-size: 2em;
    }

    p {
        text-align: center;
        font-family: $montserrat;
        font-size: 1.6em;
        font-weight: 600;

        &.one {
            padding-right: 4.5em;
            color: $red;
        }

        &.two {
            padding-left: 3.9em;
        }
    }
}

.landing__menu {
    margin: 0 auto;
    height: 200px;
    margin-bottom: 16px;
    width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-family: $montserrat;

    a {
        text-decoration: none;
        width: 160px;
        text-align: center;
        margin: 0 auto;
        padding: 8px;
    }
}

.landing__view {
    margin: 32px auto !important;
    border: 1px solid lighten($red, 10%);
    color: lighten($red, 10%);
    transition: 150ms;

    &:hover {
        color: $white;
        border: 1px solid $white;
    }
}

.landing__email {
    border: 1px solid $white;
    color: $white;
    transition: 150ms;

    &:hover {
         border: 1px solid lighten($red, 10%);
        color: lighten($red, 10%);

    }
}

.landing__contact {
    width: 200px;
    display: block;
    margin: 0 auto;
    z-index: 3;
    display: flex;
    justify-content: space-evenly;

    > a {
        display: flex;
        height: 35px;
        width: 35px;
        
        > div {
            width: 35px;
            height: 35px;
            display: inline-block;
            background-size: 100%;
            transition: 150ms;    
        }
    }
}

.landing__github {
    > div {
        background-image: url($icons + 'github/github-red.png');

        &:hover {
            transition: 150ms;
            background-image: url($icons + 'github/github-white.png');
        }
    }
}

.landing__linkedin {
    > div {
        background-image: url($icons + 'linkedin/linkedin-red.png');

        &:hover {
            transition: 150ms;
            background-image: url($icons + 'linkedin/linkedin-white.png');
        }
    }
}

.landing__upwork {
    > div {
        background-image: url($icons + 'upwork/upwork-red.png');

        &:hover {
            transition: 150ms;
            background-image: url($icons + 'upwork/upwork-white.png');
        }
    }
}

.landing__twitter {
    > div {
        background-image: url($icons + 'twitter/twitter-red.png');

        &:hover {
            transition: 150ms;
            background-image: url($icons + 'twitter/twitter-white.png');
        }
    }
}

.landing__particles {
    position: absolute;
    top: 0;
    z-index: -10;

    canvas {
        opacity: 0.7;
    }  
}