#Landing {
    height: 100vh;
    scroll-snap-align: start;
    margin-bottom: 0;
}

/* Left purple backdrop */
.landing__background.one {
    position: absolute;
    z-index: -3;
    opacity: 1;
    left: 0;
    top: 0;
    height: 100vh;
    right: 50%;
    background: $purple;
}

/* Right red backdrop */
.landing__background.two {
    position: absolute;
    z-index: -3;
    opacity: 1;
    right: 0;
    top: 0;
    height: 100vh;
    left: 50%;
    background: $red;
}

.landing__background {
    z-index: -3;
    opacity: 1;
    position: absolute;

    &.four {   // Animated particle background
        z-index: -1;

        .landing__particles {
            position: absolute;
            top: 0;
        
            canvas {
                opacity: 1;
            }  
        }
    }

    &.five {   // Gray gradient overlay
        z-index: 0;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        background: linear-gradient(to bottom, transparent, lighten($black, 15%) 99%);
    }
}

.landing__tagline {
    margin: 0 auto;
    margin: 0 auto;
    width: 100%;
    height: 50%;

    h2 {
        margin-bottom: 2em;
        font-weight: 400;
        margin: 0 auto;
        text-align: center;    
        font-size: 2em;
        padding-top: 55px;
    }

    p {
        text-align: center;
        font-family: $montserrat;
        font-size: 2em;
        font-weight: 600;

        &.one {
            padding-right: 4.5em;
            color: $white;
        }

        &.two {
            padding-left: 3.9em;
        }
    }

    @media #{$bp-tablet} {
        width: 40%;
        height: auto;

        p {
            font-size: 3em;

            &.one {
                margin-top: 80px;
                text-align: left;
                padding-right: 0;
                color: $red;
            }

            &.two {
                text-align: right;
                padding-left: 0;
            }
        }
    }
}

.landing__menu {
    margin: 0 auto;
    height: auto;
    margin-bottom: 16px;
    width: 230px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-family: $montserrat;
    float: right;
    margin-bottom: 32px;

    a, button {
        background-color: transparent;
        text-decoration: none;
        width: 160px;
        text-align: center;
        margin: 0 auto;
        padding: 8px;
    }

    @media #{$bp-tablet} {
        width: 30%;
        position: relative;
        height: 200px;
    }
}

.landing__view {
    margin: 32px auto !important;
    border: 1px solid $white;
    color: $white;
    transition: 150ms;
    font-weight: 900;

    &:hover {
        background-color: $red;
        color: $white;
        border: 1px solid $white;
        cursor: pointer;
    }
}

.landing__email {
    border: 1px solid $white;
    color: $white;
    transition: 150ms;
}

/* Get in touch modal */
.landing__emailModal {
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: 100ms ease-out;
    background-color: darken($red, 10%) ;
    margin: 2em auto;
    
    &.active {
        height: 3em;
    }

    p {
        text-align: center;
    }
}


/* Links */
.landing__contact {
    width: 200px;
    display: block;
    margin: 0 auto;
    z-index: 3;
    display: flex;
    justify-content: space-evenly;

    > a {
        display: flex;
        height: 35px;
        width: 35px;
        
        > div {
            width: 35px;
            height: 35px;
            display: inline-block;
            background-size: 100%;
            transition: 150ms;    
        }
    }
}

.landing__github {
    > div {
        background-image: url($icons + 'github/github-red.png');
        opacity: 1;

        &:hover {
            transition: 150ms;
            opacity: 1;
        }
    }

    @media #{$bp-tablet} {
        > div {
            opacity: 0.7;
        }
    }
}

.landing__linkedin {
    > div {
        background-image: url($icons + 'linkedin/linkedin-red.png');
        opacity: 1;

        &:hover {
            transition: 150ms;
            opacity: 1;
        }
    }

    @media #{$bp-tablet} {
        > div {
            background-image: url($icons + 'linkedin/linkedin-red.png');
            opacity: 0.7;
        }
    }
}

.landing__upwork {
    > div {
        background-image: url($icons + 'upwork/upwork-red.png');
        opacity: 1;

        &:hover {
            transition: 150ms;
            opacity: 1;
        }
    }

    @media #{$bp-tablet} {
        > div {
            background-image: url($icons + 'upwork/upwork-white.png');
            opacity: 0.7;
        }
    }
}

.landing__twitter {
    > div {
        background-image: url($icons + 'twitter/twitter-red.png');
        opacity: 1;

        &:hover {
            transition: 150ms;
            opacity: 1;
        }
    }

    @media #{$bp-tablet} {
        > div {
            background-image: url($icons + 'twitter/twitter-white.png');
            opacity: 0.7;
        }
    }
}