#mobile-navigation {
    position: fixed;
    z-index: 9;
    top: 0;
    right: 0;
    width: 100vw;
    height: 0px;
    transition: 200ms;
    overflow: hidden;
    text-align: center;
    
    @media #{$bp-desktop} {
        width: 250px;
    }

    ul {
        margin-top: 2.5em;
        list-style: none;
        padding: 0;
        text-align: center;
        font-size: $l-font;
        
        li {
            padding-bottom: $s-font;

            > a {
                color: $off-white;
                text-decoration: none;
            }
        }
    }
    @media #{$bp-desktop} {
        ul {
            display: block;
            width: 100%;
            text-align: left;
            &:first-child {
                //border-top: 1px solid $real-dark-gray;
            }
            li {
                padding-left: $m-font;
                //border-bottom: 2px solid $real-dark-gray;
                padding-bottom: 0px;
                font-size: #{$m-font + 0.2rem};
                transition: 200ms;
                &:hover {
                    background-color: darken($purple, 10%);
                }
                > a {
                    width: 100%;
                    height: 100%;
                    display: block;
                }
            }
        }
    }

    &.active-nav {
        height: 100vh;
    }
}

.mobile-navigation__background {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: $space-blue;
    background-blend-mode: color-burn;
}