#navigationMenu {
    visibility: hidden;

    ul {
        list-style: none;
        
        li > a {
            color: $off-white;
        }
    }

    &.active-nav {
        visibility: visible;
    }
}