/**
    NavigationMenu React component styles
**/

#navigationMenu {
    display: none;

    ul {
        list-style: none;
        
        li > a {
            color: $off-white;
            text-decoration: none;
        }
    }

    &.active-nav {
        display: block;
        z-index: 9;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
}