#home {
    #header-bg {
        background: transparent;
    }

    .home-text {
        h2 {
            font-size: $m-font;
        }
        font-family: $monospace;
        font-size: $m-font;
        position: absolute;
        color: white;
        &.one {
            top: 2rem;
            left: 10vw;
        }
        &.two {
            top: 8rem;
            left: 20vw;
        }
    }

    #home-toggle {
        position: absolute;
        left: 0;
        right: 0;
        height: 10vh;
        bottom: 0;
        height: auto;
        transform: rotate(180deg);
        margin: 0 auto;
        bottom: 2rem;
        z-index: 5;
        height: auto;
        padding: 0 auto;

        &.active {
            top: 0;
            bottom: unset;
            left: unset;
            width: auto;
            right: 5px;

            @media #{$bp-tablet} {
                right: 6px;
            }

            button {
                margin: 0;
                position: fixed;
                left: 0;
                top: 0;
            }
        }

        button {
            margin: 0 auto;
            border: none;
            background: transparent;
            display: block;
            font-size: 2.5rem;
        }
    }

    @media #{$bp-large} {
        .home-text {
            h2 {
                font-size: $l-font;
            }
        }
    }
}

#home-cover {
    background: $space-blue;
    position: fixed;
    left: 0;
    right: 0;
    top: 100vh;
    height: 100vh;
    width: 100vw;
    transition: 150ms;
    z-index: 5;
    &.active {
        top: 0;
    }
}