#splash {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: hidden;
    transition: 300ms;

    &.splash__hidden {
        left: 100vw;
        right: -100vw;
        opacity: 0;
    }
}


.splash__background {
    background: url('/assets/images/backgrounds/planets-mobile-bandw.jpg') no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


.splash__content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(10, 10, 10, 0.7);
}


.splash__text {
    font-size: $l-font;
    position: absolute;
    opacity: 0;

    &.one {
        top: 1rem;
        left: 1rem;
        transition: 1s;

        @media #{$bp-desktop} {
            top: 3rem;
            left: 3rem;
        }
    }

    &.two {
        top: 4rem;
        left: 4rem;
        transition: 1s;

        @media #{$bp-desktop} {
            top: 7rem;
            left: 7rem;
        }
    }

    &.three {
        top: 7rem;
        left: 7rem;
        transition: 1s;

        @media #{$bp-desktop} {
            top: 11rem;
            left: 11rem;
        }
    }
}


.splash__name {
    font-size: $m-font;
    position: absolute;
    right: 5rem;
    bottom: 4rem;
    opacity: 0;
    transition: 1s;
}


.splash__to-site {
    border-radius: 0;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    opacity: 0;
    transition: 1s;
}